@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Salvador Pirri<br />
    Milionários, BH 30620-490<br />
    <abbr title="Phone">P:</abbr>
    (31)99924-9806
</address>

<address>
    <strong>Support:</strong> <a href="mailto:lipemiranda159@hotmail.com">lipemiranda159@hotmail.com</a><br />
    
</address>
