<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>
    <p>
        Para acessar as informações das naves <a asp-area="" asp-controller="Home" asp-action="InformationStarShips">clique aqui</a>
    </p>
</h3>

<p>Site desenvolvido como parte de nosso processo seletivo para o cargo de Analista Desenvolvedor, segue abaixo teste técnico a ser utilizado na próxima etapa de seleção.</p>
<p>
    <h4>Descrição do teste:</h4>

    <h5>Cenário:</h5>
    - No filme Star Wars são utilizadas várias naves para viagens espaciais, tendo cada uma autonomia de vôo distinta.

    <h5>
        Objetivo do teste:
    </h5>
    - Desejamos saber, para cada uma das espaçonaves de Star Wars, quantas paradas para reabastecimento serão necessárias para percorrerem uma dada distância, pois assim saberemos planejar as paradas para viajar entre diversos planetas.

    <h5>
        Dados:
    </h5>
    - Como parte desse desafio de código, deverá ser utilizada a API disponível nesse endereço web: https://swapi.co/

    <h5>
        Requisitos técnicos:
    </h5>
    - A solução pode ser implementado em qualquer linguagem de programação, à escolha do desenvolvedor;

    <h5>
        Critérios de aceitação do código produzido:
    </h5>
    1) A aplicação receberá um único parâmetro de entrada, que é a distância a ser percorrida em mega lights (MGLT);
    2) A solução implementada não deve assumir que os dados sobre as aeronaves são estáticos;
    3) Como resultado do processamento deverá ser exibida uma lista contendo todas as espaçonaves e a quantidade de paradas para reabastecimento exigidas por cada uma delas para percorrer a distância informada:
    3.1) Exemplo de resultado esperado:
    - Distância informada (MGLT): 1000000
    - Resultado esperado para algumas aeronaves:
    - Y-wing: 74
    - Millennium Falcon: 9
    - Rebel Transport: 11

    4) Quaisquer outros detalhes da aplicação - tais como apresentação, interação e formatação - ficam a critério do desenvolvedor.

    Critérios de avaliação do candidato:
    1) Eficácia da aplicação: resultado deve atender todos os critérios de aceitação já mencionados aqui;
    2) Organização do projeto: diretórios, arquivos, classes, ...;
    3) Legibilidade do código;
    4) Adoção de boas práticas de desenvolvimento de software;
    5) Documentação/instruções para execução e uso da aplicação;

    <h5>
        Considerações finais:
    </h5>
    - Tempo estimado para implementação do teste: 2 (duas) horas a 4 (quatro) horas;
    - Em respeito ao tempo de cada candidato, elaboramos esse teste que acreditamos que possa ser implementado em um intervalo de tempo relativamente curto. Caso esteja despendendo mais tempo do que o indicado acima, por favor entre em contato conosco para que possamos esclarecer quaisquer dúvidas que possam ajudá-lo a acelerar sua implementação;

</p>
